In [1]:
from helpers.functs.StudentProfile import StudentProfile
from helpers.notebook_pipelines.evaluate_profile import run_evaluation_multi
from IPython.display import display

# Define multiple mocked students
student1 = StudentProfile(
    interests=[
        "Tekening",
        "Animatie",
        "Kunst",
        "Ik hou van optreden, zingen, dansen en spelen! Ook hou ik van uitdaging."
    ],
    wanted_study_credit_range=(15, 30),
    location_preference=["Den Bosch", "Breda", "Tilburg"],
    learning_goals=["skills", "career development"],
    level_preference=["NLQF5", "NLQF6"],
    preferred_language="NL",
)

student2 = StudentProfile(
    interests=["programmeren", "data", "AI"],
    wanted_study_credit_range=(15, 30),
    location_preference=["Breda"],
    learning_goals=["skills"],
    level_preference=["NLQF6"],
    preferred_language="NL",
)

# Ground-truth relevant modules per student
matching_models_list = [
    [388, 191],   # relevant for student1
    [123, 456],   # relevant for student2 (example IDs)
]

students = [student1, student2]

all_results, avg_p_at_k = run_evaluation_multi(students, matching_models_list, top_n=5, k=5)

print("Average precision@5 over all students:", avg_p_at_k)

# Print model output for each student individually
for idx, (student, result) in enumerate(zip(students, all_results), start=1):
    name = getattr(student, "name", f"Student {idx}")
    print("=" * 60)
    print(f"Results for {name} (index {idx}):")
    print(f"precision@5: {result['precision_at_k']:.3f}")
    display(result["recs"])

Relevant module IDs (ground truth): [191, 388]
Top-5 recommended IDs: [388, 191, 356, 315, 385]
Hits in top-5: 2
precision@5: 0.400
--------------------------------------------------
Relevant module IDs (ground truth): [123, 456]
Top-5 recommended IDs: [317, 379, 318, 334, 323]
Hits in top-5: 0
precision@5: 0.000
--------------------------------------------------
Average precision@5 over all students: 0.2
============================================================
Results for Student 1 (index 1):
precision@5: 0.400
Relevant module IDs (ground truth): [123, 456]
Top-5 recommended IDs: [317, 379, 318, 334, 323]
Hits in top-5: 0
precision@5: 0.000
--------------------------------------------------
Average precision@5 over all students: 0.2
============================================================
Results for Student 1 (index 1):
precision@5: 0.400

,rank,module_id,module_name,score,Motivation,motivation_full
0,1,388,Tekenen,0.603486,tekening,Tekenen past heel sterk bij wat jij leuk vind...
1,2,191,De Kracht van de kunsten,0.514482,"kunst, zingen",Deze module is een sterke match met jouw inter...
2,3,356,The art of biology,0.251662,"tekening, kunst",Op basis van jouw antwoorden kan een interessa...
3,4,315,European Project Semester,0.233205,spelen,Deze module kan een interessante extra optie z...
4,5,385,Stopmotion,0.230948,"animatie, zingen",Op basis van jouw antwoorden kan alsnog releva...

============================================================
Results for Student 2 (index 2):
precision@5: 0.000

,rank,module_id,module_name,score,Motivation,motivation_full
0,1,317,Datagedreven besluitvorming met AI,0.459873,"data, ai",Op basis van jouw antwoorden is een sterke mat...
1,2,379,Creative AI,0.445381,ai,Deze module is een sterke match met jouw inter...
2,3,318,AI Driven Robotics,0.284882,ai,Op basis van jouw antwoorden heeft een gematig...
3,4,334,Artifical Intelligence,0.248015,"data, ai",Op basis van jouw antwoorden kan een interessa...
4,5,323,Advanced computer vision,0.180948,ai,Advanced computer vision kan alsnog relevant z...